<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uniba.di.sms.ibtourapp.tourapp">

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainInfoActivity"></activity>
        <activity android:name=".SignUpInfoActivity" />
        <activity android:name=".LoginInfoActivity" />
        <activity
            android:name=".BeBListActivity"
            android:label="@string/title_beb_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BeBDetailActivity"
            android:label="@string/title_beb_detail"
            android:parentActivityName=".BeBListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uniba.di.sms.ibtourapp.tourapp.BeBListActivity" />
        </activity>
        <activity
            android:name=".AlbergoListActivity"
            android:label="@string/title_albergo_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AlbergoDetailActivity"
            android:label="@string/title_albergo_detail"
            android:parentActivityName=".AlbergoListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uniba.di.sms.ibtourapp.tourapp.AlbergoListActivity" />
        </activity>
        <activity
            android:name=".SvagoGiovaniListActivity"
            android:label="@string/title_svagogiovani_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SvagoGiovaniDetailActivity"
            android:label="@string/title_svagogiovani_detail"
            android:parentActivityName=".SvagoGiovaniListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uniba.di.sms.ibtourapp.tourapp.SvagoGiovaniListActivity" />
        </activity>
        <activity
            android:name=".SvagoFamigliaListActivity"
            android:label="@string/title_svagofamiglia_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SvagoFamigliaDetailActivity"
            android:label="@string/title_svagofamiglia_detail"
            android:parentActivityName=".SvagoFamigliaListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uniba.di.sms.ibtourapp.tourapp.SvagoFamigliaListActivity" />
        </activity>
        <activity
            android:name=".SpiaggiaListActivity"
            android:label="@string/title_spiaggia_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SpiaggiaDetailActivity"
            android:label="@string/title_spiaggia_detail"
            android:parentActivityName=".SpiaggiaListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uniba.di.sms.ibtourapp.tourapp.SpiaggiaListActivity" />
        </activity>
        <activity
            android:name=".ChiesaListActivity"
            android:label="@string/title_chiesa_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChiesaDetailActivity"
            android:label="@string/title_chiesa_detail"
            android:parentActivityName=".ChiesaListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uniba.di.sms.ibtourapp.tourapp.ChiesaListActivity" />
        </activity>
        <activity
            android:name=".MuseoListActivity"
            android:label="@string/title_museo_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MuseoDetailActivity"
            android:label="@string/title_museo_detail"
            android:parentActivityName=".MuseoListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uniba.di.sms.ibtourapp.tourapp.MuseoListActivity" />
        </activity>
        <activity
            android:name=".PizzeriaListActivity"
            android:label="@string/title_pizzeria_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PizzeriaDetailActivity"
            android:label="@string/title_pizzeria_detail"
            android:parentActivityName=".PizzeriaListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uniba.di.sms.ibtourapp.tourapp.PizzeriaListActivity" />
        </activity>
        <activity
            android:name=".RestaurantListActivity"
            android:label="@string/title_restaurant_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RestaurantDetailActivity"
            android:label="@string/title_restaurant_detail"
            android:parentActivityName=".RestaurantListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uniba.di.sms.ibtourapp.tourapp.RestaurantListActivity" />
        </activity>
        <activity
            android:name=".GelateriaListActivity"
            android:label="@string/title_gelateria_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GelateriaDetailActivity"
            android:label="@string/title_gelateria_detail"
            android:parentActivityName=".GelateriaListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uniba.di.sms.ibtourapp.tourapp.GelateriaListActivity" />
        </activity>
        <activity
            android:name=".MonumentListActivity"
            android:label="@string/title_monument_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MonumentDetailActivity"
            android:label="@string/title_monument_detail"
            android:parentActivityName=".MonumentListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uniba.di.sms.ibtourapp.tourapp.MonumentListActivity" />
        </activity>
        <activity android:name=".BeachActivity" />
        <activity android:name=".FamilyActivity" />
        <activity android:name=".YoungActivity" />
        <activity android:name=".MuseumActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HotelActivity" />
        <activity android:name=".RestaurantActivity" />
        <activity android:name=".InterestActivity" />
        <activity
            android:name=".ExploreActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".JournalActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CouponsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".NewCouponActivity">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>